# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Optional_BT_DecimalToBinary\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\Optional_BT_DecimalToBinary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
